In [305]:
import numpy as np
import pandas as pd

In [306]:
df = pd.read_csv("Automobiles.csv", index_col="id")

In [307]:
df.count() / df.shape[0] * 100

company                         100.0
color                            93.2
wheel-base-style-circum-diam     93.2
length                           97.9
nbSeats                         100.0
num-of-cylinders                100.0
horsepower                      100.0
average-mileage                   7.4
price                            95.6
dtype: float64

In [308]:
df.drop(["average-mileage", "nbSeats", "wheel-base-style-circum-diam"], axis=1, inplace=True)

In [309]:
df["color"].value_counts()

color-red       265
color-blac      231
color-yellow    218
color-blue      218
Name: color, dtype: int64

In [310]:
df["color"].fillna("Unknown", inplace=True)
df.dropna(inplace=True)

In [311]:
df.isnull().sum()

company             0
color               0
length              0
num-of-cylinders    0
horsepower          0
price               0
dtype: int64

In [312]:
# COLOR
df["color"] = df["color"].apply(lambda x: x[6:] if "color-" in x else x )
df["color"] = df["color"].apply(lambda x: "black" if "blac" in x else x )

In [313]:
# Wheel_Base
df["length"] = df["length"].apply(lambda x: round(x, 2))

In [314]:
# Cylinders

df.rename({"num-of-cylinders" : "cylinders", "length": "wheel_base"}, inplace=True, axis=1)

In [315]:
df

         company    color  wheel_base cylinders  horsepower    price
id
1        Pontiac  Unknown      153.63    twelve         162  19534.0
2           MINI    black      159.98     three          76  35105.0
3          Scion      red      207.68     five5          83  42705.0
4            Geo    black      142.11    twelve         100  17601.0
5          Lexus  Unknown      166.50      six6          93  39170.0
...          ...      ...         ...       ...         ...      ...
996       Suzuki    black      140.05     five5          50  32948.0
997   Mitsubishi    black      151.92     five5         177  37206.0
998   Mitsubishi     blue      164.73      six6         182  23850.0
999       Toyota      red      203.82     eight         146  23414.0
1000  Mitsubishi     blue      197.76    twelve         238  16554.0

[936 rows x 6 columns]