## Scaler

### Numerical features & Categorical Features

In [57]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
import pandas as pd 
import seaborn as sns
from sklearn.model_selection import train_test_split


def scaler_cat(features_cat, test=None):
    ohe = OneHotEncoder(sparse=False)
    if test is None:
        features_cat_scaled = ohe.fit_transform(features_cat)
    else:
        ohe.fit(features_cat)
        features_cat_scaled = ohe.transform(test)
    features_cat_scaled_df = pd.DataFrame(features_cat_scaled)
    return features_cat_scaled_df

def scaler_num(features_num, test=None):
    scaler = MinMaxScaler()
    if test is None:
        features_num_scaled = scaler.fit_transform(features_num)
    else:
        scaler.fit(features_num)
        features_num_scaled = scaler.transform(test)
    features_num_scaled_df = pd.DataFrame(features_num_scaled)
    return features_num_scaled_df


def scaler_features(features, test=None):
    if test is not None:
        test_cat = test.select_dtypes(include=['category'])
        test_num = test.select_dtypes(include=['float64','int64'])
    else:
        test_cat = None
        test_num = None
        
    features_cat = features.select_dtypes(include=['category'])
    features_cat_scaled_df = scaler_cat(features_cat, test_cat)
    
    features_num = features.select_dtypes(include=['float64','int64'])
    features_num_scaled_df = scaler_num(features_num, test_num)
    
    features_prep_df = pd.concat([features_cat_scaled_df, features_num_scaled_df], axis=1)
    return features_prep_df

In [58]:
data = sns.load_dataset('tips')

In [59]:
y = data['tip']

X = data.drop(columns=['tip'])

In [60]:
X_train_2,X_test_2, y_train_2, y_test_2 = train_test_split(X, y, test_size=0.3, random_state=60)

In [61]:

X_train_2_prep_df = scaler_features(X_train_2)

In [62]:

lg_2 = LinearRegression()

In [63]:
lg_2.fit(X_train_2_prep_df,y_train_2)

LinearRegression()

In [64]:
from sklearn.model_selection import cross_validate

In [65]:
cross_validate(lg_2, X_train_2_prep_df, y_train_2, cv=5)['test_score'].mean()

0.3598759687098184

<img src="../images/cross-validate.png" alt="schema cross validation"/>

In [66]:
X_train_2
X_test_2

     total_bill     sex smoker   day    time  size
132       11.17  Female     No  Thur   Lunch     2
79        17.29    Male     No  Thur   Lunch     2
56        38.01    Male    Yes   Sat  Dinner     4
199       13.51    Male    Yes  Thur   Lunch     2
23        39.42    Male     No   Sat  Dinner     4
..          ...     ...    ...   ...     ...   ...
3         23.68    Male     No   Sun  Dinner     2
186       20.90  Female    Yes   Sun  Dinner     3
62        11.02    Male    Yes   Sat  Dinner     2
129       22.82    Male     No  Thur   Lunch     3
185       20.69    Male     No   Sun  Dinner     5

[74 rows x 6 columns]

In [67]:
X_test_2_prep_df = scaler_features(X_train_2, X_test_2)

In [68]:
lg_2.score(X_test_2_prep_df,y_test_2)

0.3484015613334338